// **** LOADER **** //
@keyframes loader {
    0% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes load1 {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes load2 {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}

@keyframes load3 {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}

// **** HEART **** //
@keyframes full {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

// **** MENU **** //
@keyframes list1 {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes list2 {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes list3 {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes list4 {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

// **** CHECK **** //
@keyframes check {
    from {
        width: 0;
    }
    to {
        width: 60px;
    }
}

@keyframes checkrev {
    from {
        width: 60px;
    }
    to {
        width: 0;
    }
}