// **** FLEX **** //
@mixin flex($fdirection: initial, $jcontent: initial, $alitems: initial) {
    display: flex;
    flex-direction: $fdirection;
    justify-content: $jcontent;
    align-items: $alitems;
}

// **** MEDIAS **** //
  @mixin tablet {
    @media screen and (min-width:$tablet) {
        @content;
    }     
  }

  @mixin desktop {
    @media screen and (min-width:$desktop) {
        @content;
    }
  }

  @mixin desktop-lg {
    @media screen and (width:$desktop-lg) {
        @content;
    }
  }

// **** ANIMATIONS **** //
@mixin loader-transition($duration) {
  transition: background-color $duration ease-out;
}