@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
html, body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

h4 {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 5px;
}

h5 {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

header {
  z-index: 1;
  position: relative;
}

main {
  z-index: 0;
  position: relative;
}

body, html {
  width: 100%;
  max-width: 1440px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.btn {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#FF79DA, #9356DC);
  height: 50px;
  border-radius: 25px;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.btn:hover {
  opacity: 0.8;
}

.btn-explorer {
  width: 218px;
}

.btn-order {
  width: 186px;
}

.card {
  position: relative;
  width: 100%;
  height: 251px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 1024px) {
  .card {
    width: 40%;
  }
}
.card .new {
  font-size: 14px;
  color: #008766;
  font-weight: 500;
  background-color: #99E2D0;
  padding: 8px;
  border-radius: 2px;
  position: absolute;
  top: 5%;
  left: 75%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .card .new {
    left: 87%;
  }
}
@media screen and (min-width: 1024px) {
  .card .new {
    left: 80%;
  }
}
.card__img {
  width: 100%;
  height: 174px;
  align-self: stretch;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.card__content {
  width: 100%;
  height: 30%;
  padding: 10px 15px 15px 15px;
}

.card__content__title {
  font-size: 18px;
  font-weight: 700;
}

.card__content__indication {
  font-size: 17px;
  font-weight: 300;
}

.card__like {
  position: absolute;
  left: 90%;
  top: 77%;
}

@media screen and (min-width: 768px) {
  .card__like {
    left: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .card__like {
    left: 85%;
  }
}
@media screen and (width: 1440px) {
  .card__like {
    left: 90%;
  }
}
.header {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: initial;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  height: 63px;
}

@media screen and (min-width: 1024px) {
  .header {
    height: 96px;
    align-items: center;
    align-self: stretch;
  }
}
.header .header__logo {
  width: 56%;
  height: 70%;
  margin-top: 14px;
  margin-bottom: 5px;
}

@media screen and (min-width: 1024px) {
  .header .header__logo {
    height: auto;
    margin: 0px;
  }
}
.footer {
  background-color: #353535;
  height: 186px;
  max-width: 100%;
  padding: 22px 25px 22px 25px;
}

@media screen and (min-width: 1024px) {
  .footer {
    height: 114px;
  }
}
.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: initial;
  gap: 16px;
}

@media screen and (min-width: 1024px) {
  .footer__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: initial;
    align-items: flex-end;
    height: 100%;
  }
}
.footer__title {
  margin: 0;
}

.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: #FFFFFF;
  margin: 0;
  gap: 7px;
}

@media screen and (min-width: 1024px) {
  .footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: initial;
    width: 661px;
  }
}
.footer__links li {
  margin: 0;
}

.footer__links .fa-utensils {
  margin-right: 12px;
}

.footer__links .fa-handshake-angle {
  margin-right: 5px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  background-color: #F7F7F7;
  height: 337px;
}

.info .searchbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  width: 100%;
  height: 50px;
  gap: 17px;
}

.info .searchbar__icon {
  width: 12px;
  height: 16px;
  margin: 0;
}

.info .searchbar__location {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.info .explorer {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 27px;
}

.info .explorer__title {
  text-align: center;
  margin-top: 39px;
  margin-right: 50px;
  margin-left: 50px;
}

.info .explorer__headline {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin-right: 30px;
  margin-left: 30px;
}

.fonctionnement {
  width: 100%;
  padding: 44px 20px 68px 20px;
}

.fonctionnement__title {
  margin-bottom: 26px;
}

.fonctionnement__list {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  gap: 24px;
  margin: 0;
  padding-left: 20px;
}

@media screen and (min-width: 1024px) {
  .fonctionnement__list {
    flex-direction: row;
  }
}
.fonctionnement__list li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  gap: 30px;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 34px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .fonctionnement__list li {
    width: 80%;
  }
}
.fonctionnement__list li span {
  position: absolute;
  left: -3%;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  line-height: 17px;
  padding: 5px;
}

@media screen and (min-width: 768px) {
  .fonctionnement__list li span {
    left: -1.5%;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement__list li span {
    left: -2.5%;
  }
}
.fonctionnement__list li .fa-solid {
  margin: 0;
}

.fonctionnement__list li .fa-store {
  color: #9356DC;
}

.restaurants {
  width: 100%;
  height: 50%;
  background-color: #F7F7F7;
  padding: 55px 18px 66px 18px;
}

.restaurants__title {
  margin-bottom: 26px;
}

.restaurants__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 70%;
  gap: 18px;
}

@media screen and (min-width: 1024px) {
  .restaurants__cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
  }
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.goback {
  position: absolute;
  top: 35%;
  left: 6%;
  color: #353535;
  width: 17px;
  height: 16px;
}

@media screen and (min-width: 1024px) {
  .goback {
    left: 2%;
  }
}
.banner {
  max-width: 100%;
  height: 275px;
  margin-bottom: -32px;
}

.banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.menu {
  width: 100%;
  height: 70%;
  background-color: #F7F7F7;
  border-radius: 50px 50px 0 0;
  position: relative;
  top: -32px;
  padding-top: 32px;
  margin-bottom: -32px;
}

@media screen and (min-width: 768px) {
  .menu {
    width: 90%;
    padding-left: 15%;
    padding-right: 15%;
  }
}
@media screen and (min-width: 1024px) {
  .menu {
    width: 80%;
  }
}
@media screen and (width: 1440px) {
  .menu {
    width: 70%;
    margin-bottom: -32px;
  }
}
.menu__restaurant {
  padding-right: 17px;
  padding-left: 17px;
  margin-bottom: 42px;
}

@media screen and (min-width: 768px) {
  .menu__restaurant {
    padding: 0;
  }
}
.menu__restaurant h2 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .menu__restaurant h2 {
    text-align: center;
  }
}
.menu__restaurant .heart-like {
  margin: 0;
  position: absolute;
  left: 80%;
  top: 3%;
}

@media screen and (min-width: 768px) {
  .menu__restaurant .heart-like {
    left: 71%;
  }
}
@media screen and (min-width: 1024px) {
  .menu__restaurant .heart-like {
    left: 68%;
  }
}
@media screen and (width: 1440px) {
  .menu__restaurant .heart-like {
    left: 65%;
  }
}
.menu__section {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: flex-start;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 40px;
  margin: 0;
  gap: 12px;
}

.menu__section .section-title {
  margin: 0;
  width: 100%;
  height: 27px;
}

.menu__section .section-title h3 {
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 5px;
}

.menu__section .section-title .barre {
  width: 40px;
  height: 3px;
  background: #99E2D0;
  margin: 0;
}

.menu__section ul {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: flex-start;
  margin: 0;
  gap: 12px;
  width: 100%;
}

.menu__section ul li {
  position: relative;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 100%;
  height: 69px;
  padding: 12px 47px 12px 15px;
  margin: 0;
}

.menu__section ul li p {
  font-size: 15px;
  font-weight: 300;
}

.menu__section ul li span {
  position: absolute;
  left: 88%;
  bottom: 15%;
  font-size: 15px;
  font-weight: 700;
  color: #353535;
}

@media screen and (min-width: 1024px) {
  .menu__section ul li span {
    left: 90%;
  }
}
.menu__order {
  padding-bottom: 40px;
} 

/*# sourceMappingURL=style.css.map */
