* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header {
    z-index: 1;
    position: relative;
}

main {
    z-index: 0;
    position: relative;
}

body, html {
    width: 100%;
    max-width: 1440px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color : inherit;
}

li {
    list-style-type: none;
}
