.btn {
    @include flex ($jcontent: center, $alitems: center);
    background: $gradient-button;
    height: 50px;
    border-radius: 25px;
    border: none;
    color: $color-white;
    font-size: $font-S16;
    font-weight: $font-medium;
    box-shadow: $box-shadow-button;

    &:hover {
        opacity: 0.8;
    }
}

.btn-explorer {
    width: 218px;
}

.btn-order {
    width: 186px;
}