.card {
    position: relative;
    width: 100%;
    height: 251px;
    border-radius: 15px;
    box-shadow: $box-shadow-light;
    @include desktop {
        width: 40%;
    }

    .new {
        font-size: $font-S14;
        color: $color-green;
        font-weight: $font-medium;
        background-color: $color-tertiary;
        padding: 8px;
        border-radius: 2px;
        position: absolute;
        top: 5%;
        left: 75%;
        box-shadow: $box-shadow;
        @include tablet {
            left: 87%;
        }
        @include desktop {
            left: 80%;
        }
    }

    &__img {
        width: 100%;
        height: 174px;
        align-self: stretch;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }

    &__content {
        width: 100%;
        height: 30%;
        padding: 10px 15px 15px 15px;

        &__title {
            font-size: $font-S18;
            font-weight: $font-bold;
        }

        &__indication {
            font-size: $font-S17;
            font-weight: $font-light;
        }

    }

    &__like {
        position: absolute;
        left: 90%;
        top: 77%;
        @include tablet {
            left: 90%;
        }
        @include desktop {
            left: 85%;
        }
        @include desktop-lg {
            left: 90%;
        }
    }
}