.card {
    width: 100%;
    height: 251px;
    border-radius: 15px;
    box-shadow: $box-shadow-light;

    &__img {
        width: 100%;
        height: 70%;
        align-self: stretch;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }

    &__content {
        width: 100%;
        height: 30%;
        padding: 15px;

        &__title {
            font-size: $font-S18;
            font-weight: $font-bold;
        }

        &__indication {
            font-size: $font-S17;
            font-weight: $font-light;
            margin-top: 5px;
        }

    }

    &__like {
        position: absolute;
        left: 80%;
    }
}