.goback {
    position: absolute;
    top : 35%;
    left: 6%;
    color: $color-grey;
    width: 17px;
    height: 16px;
    @include desktop {
        left: 2%;
    }
}

.banner {
    max-width: 100%;
    height: 275px;
    margin-bottom: -32px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }    
}

.menu {
    width: 100%;
    height: 70%;
    background-color: $bg-color-lightgrey;
    border-radius: 50px 50px 0 0;
    position: relative;
    top: -32px;
    padding-top: 32px;
    margin-bottom: -32px;
    @include tablet {
        width: 90%;
        padding-left: 15%;
        padding-right: 15%;
    }
    @include desktop {
        width: 80%;
    }
    @include desktop-lg {
        width: 70%;
        margin-bottom: -32px;
    }

    &__restaurant {
        padding-right: 17px;
        padding-left: 17px;
        margin-bottom: 42px;
        @include tablet {
            padding: 0;
        }

        h2 {
            font-family: $title-font;
            font-size: $font-S28;
            font-weight: $font-regular;
            @include tablet {
                text-align: center;
            }
        }

        .heart-like {
            margin: 0;
            i {
                position: absolute;
                left: 80%;
                top: 3%;
                @include tablet {
                    left: 71%;
                }
                @include desktop {
                    left: 68%;
                }
                @include desktop-lg {
                    left: 66%;
                }
            }   
        }
    }

    &__section {
        @include flex($fdirection: column, $alitems: flex-start);
        padding-left: 13px;
        padding-right: 13px;
        padding-bottom: 40px;
        margin: 0;
        gap: 12px;

        .section-title {
            margin: 0;
            width: 100%;
            height: 27px;
            
            h3 {
                width: 100%;
                font-size: $font-S16;
                font-weight: $font-light;
                text-transform: uppercase;
                margin: 0;
                padding-bottom: 5px;
            }

            .barre {
                width: 40px;
                height: 3px;
                background: $color-tertiary;
                margin: 0;
            }

        }

        ul {
            @include flex($fdirection: column, $alitems: flex-start);
            margin: 0;
            gap: 12px;
            width: 100%;
            
            .list1 {
                animation-name: list1;
                animation-duration: 1s;
                animation-timing-function: ease;
                animation-fill-mode: forwards;
                transform: translateX(-100%);
                transition: all 1s;
                opacity: 0;
            }

            .list2 {
                animation-name: list2;
                animation-duration: 1s;
                animation-timing-function: ease;
                animation-fill-mode: forwards;
                animation-delay: 0.25s;
                transform: translateX(-100%);
                transition: all 1s;
                opacity: 0;
            }

            .list3 {
                animation-name: list3;
                animation-duration: 1s;
                animation-timing-function: ease;
                animation-fill-mode: forwards;
                animation-delay: 0.5s;
                transform: translateX(-100%);
                transition: all 1s;
                opacity: 0;
            }

            .list4 {
                animation-name: list4;
                animation-duration: 1s;
                animation-timing-function: ease;
                animation-fill-mode: forwards;
                animation-delay: 0.75s;
                transform: translateX(-100%);
                transition: all 1s;
                opacity: 0;
            }

            li {
                position: relative;
                box-shadow: $box-shadow-light;
                border-radius: 20px;
                width: 100%;
                height: 69px;
                padding: 12px 47px 12px 15px;
                margin: 0;

                
                .dish {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    margin: 0;

                    h4 {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        padding-bottom: 5px;
                    }
                
                    p {
                        font-size: $font-S15;
                        font-weight: $font-light;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }

                
                .price {
                    position: absolute;
                    right: 15px;
                    bottom: 15%;
                    font-size: $font-S15;
                    font-weight: $font-bold;
                    color: $color-grey;
                    transition: all 0.5s;
                    @include desktop {
                        right: 20px;
                    }
                }
                
                .checkmark {
                    @include flex($fdirection: row, $jcontent: center, $alitems: center);
                    width: 60px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: 0;
                    border-radius: 0 20px 20px 0;
                    background-color: $color-tertiary;
                    color: $color-white;
                    visibility: hidden;
                    animation-name: checkrev;
                    animation-duration: 0.5s;
                    transition: all 0.5s;
                }

                &:hover .dish {
                    width: 70%;
                    transition: all 0.5s;
                }
                
                &:hover .checkmark {
                    animation-name: check;
                    animation-duration: 0.5s;
                    transition: all 0.5s;
                    visibility: visible;
                    font-size: 16px;
                }
                
                &:hover .price {
                    transform: translateX(-60px);
                    transition: all 0.6s;
                }
            }
        }
    }
    
    &__order {
        padding-bottom: 40px;
    }
}