.goback {
    position: absolute;
    top : 2.5%;
    left: 6%;
    color: $color-grey;
    width: 17px;
    height: 16px;
}

.banner {
    max-width: 100%;
    height: 30%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }    
}

.menu {
    width: 100%;
    height: 70%;
    background-color: $bg-color-lightgrey;
    border-radius: 50px 50px 0 0;


    &__restaurant {
        padding-right: 17px;
        padding-left: 17px;
        margin-bottom: 42px;

        h2 {
            font-family: $title-font;
            font-size: $font-S28;
            font-weight: $font-regular;
        }

        .heart-like {
            margin: 0;
            position: absolute;
            left: 80%;
            top: 44%;
        }
    }

    &__section {
        @include flex($fdirection: column, $alitems: flex-start);
        padding-left: 13px;
        padding-right: 13px;
        padding-bottom: 40px;
        margin: 0;
        gap: 12px;

        .section-title {
            margin: 0;
            width: 100%;
            height: 25px;
            
            h3 {
                width: 100%;
                font-size: $font-S16;
                font-weight: $font-light;
                text-transform: uppercase;
                margin: 0;
                line-height: 19px;
            }

            span {
                width: 40px;
                height: 3px;
                background-color: $color-tertiary;
            }

        }

        ul {
            @include flex($fdirection: column, $alitems: flex-start);
            margin: 0;
            gap: 12px;
            width: 100%;

            li {
                position: relative;
                box-shadow: $box-shadow-light;
                border-radius: 20px;
                width: 100%;
                height: 69px;
                padding: 12px 47px 12px 15px;
                margin: 0;

                p {
                    font-size: $font-S15;
                    font-weight: $font-light;
                }

                span {
                    position: absolute;
                    left: 88%;
                    bottom: 15%;
                    font-size: $font-S15;
                    font-weight: $font-bold;
                    color: $color-grey;
                }

            }
        }
        

    }

    &__order {
        padding-bottom: 40px;
    }
}