.footer {
    background-color: $bg-color-grey;
    height: 186px;
    padding: 22px 25px 22px 25px;

    &__content {
        @include flex($fdirection: column, $jcontent: flex-start);
        gap: 16px;
    }

    &__title {
        margin: 0;
    }

    &__links {
        @include flex($fdirection: column, $jcontent: flex-start ,$alitems: flex-start);
        color: $color-white;
        margin: 0;
        gap: 7px;

        li {
            margin: 0;
        }
        
        .fa-utensils {
            margin-right: 12px;
        }
    
        .fa-handshake-angle {
            margin-right: 5px;
        }
    }

}