.footer {
    background-color: $bg-color-grey;
    height: 186px;
    padding: 22px 25px 22px 25px;

    &__content {
        @include flex($fdirection: column);
        gap: 16px;
    }

    &__link {
        color: $color-white;
        gap: 7px;

    }
    
    &__icon--margin {
        margin-right: 11px;
    }
}