.footer {
    background-color: $bg-color-grey;
    height: 186px;
    max-width: 100%;
    padding: 22px 25px 22px 25px;
    @include desktop {
        height: 114px;
    }

    &__content {
        @include flex($fdirection: column, $jcontent: flex-start);
        gap: 16px;
        @include desktop {
            @include flex($fdirection: row-reverse, $alitems: flex-end);
            height: 100%;
        }
    }

    &__title {
        margin: 0;
    }

    &__links {
        @include flex($fdirection: column, $jcontent: flex-start ,$alitems: flex-start);
        color: $color-white;
        margin: 0;
        gap: 7px;
        @include desktop {
            @include flex($fdirection: row, $jcontent: space-around);
            width: 661px;
        }

        li {
            margin: 0;
        }
        
        .fa-utensils {
            margin-right: 12px;
        }
    
        .fa-handshake-angle {
            margin-right: 5px;
        }
    }

}