.loader {
    @include flex($fdirection: row, $jcontent: center, $alitems: center);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.80);
    z-index: 5000;
    visibility: hidden;
    animation-name: loader;
    animation-duration: 3000ms;


    &__container {
        @include flex($fdirection: row, $jcontent: center, $alitems: center);
        position: absolute;
        vertical-align: middle;
        width: 250px;
        height: 100px;
    }
    
    &__items {
        font-family: $title-font;
        font-size: 50px;
        position: relative;
    }

    .i1 {
        color: $color-primary;
        position: absolute;
        animation-name: loading-1;
        top: 0;
        left: 0;
    }

    .i2 {
        color: $color-secondary;
        position: absolute;
        top: 0;
        left: 28%;
    }

    .i3 {
        color: $color-tertiary;
        position: absolute;
        top: 0;
        left: 62%;
    }
}